python-dotenv


# framework/technology for ai agents
langchain
langchain-core
langchain-community

# LLM Provider
langchain-groq
langchain-text-splitters

# Vector Store
faiss-cpu

# Notebook
jupyter
ipykernel

# Web App
streamlit